# Ignore virtual environment
venv/

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# OS-specific
.DS_Store

# IDE folders
.vscode/
.idea/

# Playwright drivers
playwright/.cache/

